@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --body-background: #F7BA79;
  --foreground-color: #F59B65;
  --primary-text-color: #FFF;
  --color-home: #C5211C;
}

[data-theme="dark"] {
  --body-background: #217181;
  --foreground-color: #154b56;
  --primary-text-color: #fff;
  --color-home: #23879A;
}

body {
  background-color: var(--body-background);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
